ul {
  list-style-type: none;
}

.song {
  position: relative;
  border: 1px solid black;
  padding: 10px 40px;
}


.App {
  display: block;
  width: 800px;
  margin: 0 auto;
}

.search-filter {
  display: block;
  margin-top: 30px;
}

label {
  margin-left: 40px;
}

.search-input {
  display: block;
  width: calc(100% - 43px);
  margin-left: 40px;
  border-radius: 10px;
  padding: 5px 0;
  border: 1px solid;
}